<form method="POST" action="/join">
    <div>
        <label for="passcode">Enter Secret Passcode</label>
        <input type="passcode" id="passcode" name="passcode" required>
        <small id="passcodeHint"><u>Hint:</u> <em>That</em> figure from <strong>Norse Mythology</strong>!</small>
    </div>

    <% if (typeof error !== 'undefined' && error) { %>
        <p><%= error %></p>
    <% } %>

    <div>
        <button type="submit">Join</button>
    </div>

</form>