<form method="POST" action="">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="johndoe" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

</form>