<form method="POST" action="">
    <div>
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" placeholder="John" required>
    </div>

    <div>
        <label for="second-name">Second Name:</label>
        <input type="text" id="second-name" name="second-name" placeholder="Doe" required>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="johndoe" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <label for="confirm-password">Confirm password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
    </div>

</form>