<nav>
  <div class="logo">
    <a href="/">
      <p><i class="fas fa-lock"></i> Members Only</p>
    </a>
  </div>

  <div class="nav-links">
    <!-- Change these based on status -->
    <% if (locals.user) {%>
        <% if (!locals.user.membership_status) {%>
            <a href="/join">Join</a>
        <% } %>
        <a href="/new-message">New message</a>
        <a href="/log-out">Log out</a>
    <% } else { %>
        <a href="/sign-in">Sign in</a>
        <a href="/sign-up">Sign up</a>        
    <%}%>    
  </div>
</nav>
