<section>
    <% if (locals.user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/new-message">Create New Message</a>
      <% } else { %>
        <h1>please log in</h1>
        
      <%}%>
</section>